@tailwind base;
@tailwind components;
@tailwind utilities;

#RecordCover {
    max-width: 300px !important;
    max-height: 300px !important;
}

/* TODO: Refactor this */
.double-range-slider-max.double-range-slider-ball.double-range-slider-active {
    background-color: #1d232a;
    outline: #7480ff 5px solid;
}

.double-range-slider-max.double-range-slider-ball {
    background-color: #1d232a;
    outline: #7480ff 5px solid;
}

.double-range-slider-min.double-range-slider-ball.double-range-slider-active {
    background-color: #1d232a;
    outline: #7480ff 5px solid;
}

.double-range-slider-min.double-range-slider-ball {
    background-color: #1d232a;
    outline: #7480ff 5px solid;
}

.double-range-slider-track {
    background-color: #7480ff !important;
}

.double-range-slider-tooltip {
    background-color: #7480ff !important;
}

.double-range-slider-tooltip::after {
    border-color: #7480ff transparent transparent transparent !important;
}

.double-range-slider-container {
    height: 200px !important;
    width: 100% !important;
    margin: 0 0 0 0 !important;
    margin-top: 70px !important;
}

.double-range-slider-track {
    width: full !important;
}

.double-range-slider-rail {
    width: 100% !important;
}

.double-range-slider-mid.double-range-slider-tooltip.double-range-slider-over {
    position: absolute !important;
}

.double-range-slider-mid {
    bottom: 225px !important;
}

#record_image {
    transition-property: transform;
    transition-duration: 1s;
    animation-timing-function: ease-in;
}

#record_image:hover {
    animation: rotate 1.5s linear infinite;
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
